.game-root
    padding: 6px
    background-color: #c0c0c0
    border-width: 3px
    border-radius: 2px
    border-style: solid
    border-color: #fff #9f9f9f #9f9f9f #fff
    &.running
        .mine-cell.unknown.pressing
            border-width: 0 !important

.mine-bar
    display: flex
    align-items: center
    justify-content: space-between
    border-style: solid
    border-color: #9c9c9c #fff #fff #9c9c9c
    height: 34px
    border-width: 2px
    padding: 5px
    margin-bottom: 6px

.mine-grid
    display: grid
    border-style: solid
    border-color: #9f9f9f #fff #fff #9f9f9f
    box-sizing: border-box
    border-width: 3px
    border-radius: 1px

    .mine-cell
        box-sizing: border-box
        &.uncover
            background-image: url("../image/mine-uncover.png")
        &.boom
            background-image: url("../image/mine-dead.png")
        &.wrong-flag
            background-image: url("../image/flag-wrong.png")
        &.boom
            background-image: url("../image/mine-dead.png")

        &.unknown
            border-color: #fff #808080 #808080 #fff
            border-style: solid
        &.open
            border-left: 1px solid rgb(128, 128, 128)
            border-top: 1px solid rgb(128, 128, 128)
            &.open-1
                background-image: url("../image/open1.png")

            &.open-2
                background-image: url("../image/open2.png")

            &.open-3
                background-image: url("../image/open3.png")

            &.open-4
                background-image: url("../image/open4.png")

            &.open-5
                background-image: url("../image/open5.png")

            &.open-6
                background-image: url("../image/open6.png")

            &.open-7
                background-image: url("../image/open7.png")

            &.open-8
                background-image: url("../image/open8.png")

.digit-outer
    width: 40px
    height: 24px
    border-width: 0px 1px 1px 0px
    border-style: solid
    border-color: #fff
    display: flex
    flex-direction: row
    .digit-item
        height: 100%
        flex: 1
        &.digit--
            background-image: url("../image/digit-.png")
        &.digit-0
            background-image: url("../image/digit0.png")
        &.digit-1
            background-image: url("../image/digit1.png")
        &.digit-2
            background-image: url("../image/digit2.png")
        &.digit-3
            background-image: url("../image/digit3.png")
        &.digit-4
            background-image: url("../image/digit4.png")
        &.digit-5
            background-image: url("../image/digit5.png")
        &.digit-6
            background-image: url("../image/digit6.png")
        &.digit-7
            background-image: url("../image/digit7.png")
        &.digit-8
            background-image: url("../image/digit8.png")
        &.digit-9
            background-image: url("../image/digit9.png")
